.ecg-container {
    /* Аналогичная стилистика, как в других компонентах */
    position: relative;
    background-color: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #007AFF; /* Синяя рамка по всему периметру */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    overflow: hidden; /* Чтобы скругления углов не обрезались */
  }
  
  /* Шапка (заголовок) */
  .ecg-title-container {
    background-color: #E9EFF6;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #007AFF;
  }
  
  /* Заголовок: шрифт , цвет #515974, выравнивание по центру */
  .ecg-title {
    margin: 0;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 26px;  /* при желании 32px, как в других блоках */
    color: #515974;
    text-align: center;
  }
  
  /* Основная часть с графиками */
  .ecg-body {
    padding: 20px;
    box-sizing: border-box;
    max-height: 36vh; /* Если нужно ограничить высоту, уберите/измените по вкусу */
    overflow-y: auto; /* Вертикальная прокрутка */
    
  }
  
  .lead-block {
    margin-bottom: 20px; /* Уменьшено расстояние между блоками */
    padding: 10px; /* Уменьшаем отступы внутри */
    

  }
  
  /* Заголовок отведения: цвет #007AFF, чтобы выделить */
  .lead-title {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 24px;
    color: #007AFF;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
  }
  
  .details-text {
    display: block;
    text-align: right; /* Выравниваем текст по правому краю */
    margin: 10px 20px; /* Отступы от края */
    font-size: 24px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #007aff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: -10px;
  }
  
  .details-text:hover {
    color: #005bb5; /* Меняем цвет при наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
  }
  