.app-add-patient-page {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  width: 100%; /* Гарантируем, что страница занимает всю ширину */
  min-height: 100vh; /* Высота страницы на весь экран */
  box-sizing: border-box; /* Включаем padding в расчёт размеров */
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  width: 100%; /* Полная ширина */
  text-align: initial; /* Сбрасываем центрирование */
}

.app-breadcrumb {
  font-family: 'Podkova', serif;
  font-size: 20px;
  color: #007AFF;
}

.app-contact-link {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
  color: #515974;
}

.app-contact-link:hover {
  color: #007AFF;
  transition: color 0.3s ease;
}

.app-info-container {
  margin-bottom: 20px;
}



.app-h1 {
  font-family: 'Podkova', serif;
  font-size: 55px;
  color: #515974;
}


.app-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 равных столбца */
  gap: 30px; /* Отступы между элементами */
  justify-content: center; /* Центрируем столбцы горизонтально */
  align-items: center; /* Центрируем элементы вертикально */
}

.app-form-label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #515974;
  align-items: start;
}

.app-form-input {
  height: 71px;
  width: 550px;
  border: 1px solid #007AFF;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;

}

.app-form-button {
  margin-top: 60px;
  background-color: #007AFF;
  color: white;
  font-size: 28px;
  border: none;
  border-radius: 44px;
  padding: 17px 70px;
  cursor: pointer;

}

.app-form-button:hover {
  background-color: #005BB5;
}

.app-back-button {
  display: inline-flex;
  gap: 15px;
  font-size: 30px;
  color: #515974;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: -430px; /* Смещение влево */
  align-items: center; 

}

.app-back-button:hover {
  background-color: #C0CAD5;
  color: white;
}

.app-back-icon {
  width: 40px;
  height: 40px;
  fill: currentColor; /* Наследует цвет текста */
  transition: fill 0.3s;
}

.app-back-button:hover .app-back-icon {
  fill: white; /* Меняет цвет иконки на белый при наведении */
}

.app-form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  justify-content: center; /* Центрирование по вертикали */
  padding: 20px 50px; /* Отступы внутри контейнера */
  margin: 0 auto; /* Центрирование по горизонтали */
}
