.add-patient-page {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 80px; /* Добавляем отступ сверху для компенсации фиксированного хедера */
}
  
  info-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .back-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #007AFF;
    background-color: white;
    border: 2px solid #007AFF;
    border-radius: 44px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .back-button:hover {
    background-color: #007AFF;
    color: white;
  }
  
  h1 {
    font-family: 'Podkova', serif;
    font-size: 24px;
    color: #515974;
  }
  
  .form-container {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-size: 16px;
    font-weight: bold;
    color: #515974;
  }
  
  form input {
    width: 100%;
    height: 40px;
    border: 1px solid #007AFF;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  form button {
    background-color: #007AFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #005BB5;
  }
  

/* Header container with links */
.header-container {
    display: flex; /* Flexbox для управления расположением */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%; /* Полная ширина */
    padding: 30px 40px; /* Отступы */
    box-sizing: border-box;
    background-color: transparent; /* Прозрачный фон */
    text-align: initial; /* Сбрасываем центрирование */
  }

.breadcrumb {
    font-family: 'Podkova', serif; /* Шрифт */
    font-size: 24px;
    color: #007AFF;
    text-align: left; /* Выравниваем по левому краю */
  }

.contact-link {
    font-family: 'Frank Ruhl Libre', serif; /* Шрифт */
    font-size: 20px;
    color: #515974;
    text-align: right; /* Выравниваем по правому краю */
  }
  
/* Contact link hover effect */
.contact-link:hover {
    color: white; /* Меняем цвет текста на белый при наведении */
    transition: color 0.3s ease; /* Плавный переход */
    text-decoration-color: #ffffff; /* Цвет подчеркивания совпадает с текстом */

}