.patient-page {
  font-family: sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  margin: 0; 
}

.main-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: initial;
  margin-top: 60px;
  margin-bottom: 20px; /* Добавляем отступ снизу */
}

.breadcrumb {
  font-family: 'Podkova', serif;
  font-size: 20px;
  color: #007AFF;
  text-align: left;
  margin-bottom: 10px;
}

.contact-link {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
  color: #515974;
  text-align: right;
  text-decoration-line: underline;
  text-decoration-color: #515974;
  margin-bottom: 10px;
}

.contact-link:hover {
  color: white;
  transition: color 0.3s ease;
  text-decoration-color: #ffffff;
}

.content-container {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  margin-top: -37px;
  align-items: stretch; /* Это значение по умолчанию, но важно для понимания */
}

.left-column {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between; /* Это выровняет дочерние элементы по высоте */
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between; /* Это выровняет дочерние элементы по высоте */
}

.ecg-wrapper {
  margin-bottom: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}