.patient-page {
  font-family: sans-serif;
}

.main-body-container {
  width: 100%;
   display: flex;
  flex-direction: column;
    padding: 20px;
}


/* Header container with links */
.header-container {
    display: flex; /* Flexbox для управления расположением */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%; /* Полная ширина */
    padding: 30px 40px; /* Отступы */
    box-sizing: border-box;
    background-color: transparent; /* Прозрачный фон */
    text-align: initial; /* Сбрасываем центрирование */
    margin-top: 60px;
    
  }

.breadcrumb {
    font-family: 'Podkova', serif; /* Шрифт */
    font-size: 24px;
    color: #007AFF;
    text-align: left; /* Выравниваем по левому краю */
  }
  .contact-link {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 20px;
    color: #515974;
    text-align: right;
    text-decoration-line: underline; /* Включаем подчеркивание */
    text-decoration-color: #515974; /* Задаём цвет подчеркивания */
  }
  
  .contact-link:hover {
    color: white;
    transition: color 0.3s ease;
    text-decoration-color: #ffffff; /* Меняем цвет подчеркивания при hover */
  }
  

.content-container {
  display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.info-container {
    flex: 1;
    margin-right: 20px;
    width: 25%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visualization-container {
  flex: 2;
   display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ecg-wrapper {
   margin-bottom: 20px;
  border: 1px solid lightgray;
   box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}