.patient-page {
  font-family: sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  margin: 0; 
  background: linear-gradient(135deg, #ffffff, #dbeafe);
}

.main-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap; /* добавлено */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 23px;
  background-color: transparent;
  margin-bottom: -5px;
  margin-top: 60px;
  gap: 10px; /* чтобы элементы не слипались при переносе */
}

.breadcrumbArrow {
  margin: 0 8px;
  vertical-align: middle;
  color: #007AFF;
}

.breadcrumb {
  font-family: 'Podkova', serif;
  font-size: 24px;
  color: #007AFF;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.breadcrumbLink:hover {
  color: #005fcc;
  text-decoration: underline;
}

.contactLink {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
  color: #515974;
}

.contactLink:hover {
  color: #005fcc;
  transition: color 0.3s ease;
  text-decoration-color: #ffffff;
  text-decoration: underline;
}

.content-container {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  margin-top: -10px;
  align-items: stretch; /* Это значение по умолчанию, но важно для понимания */
}

.left-column {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between; /* Это выровняет дочерние элементы по высоте */
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between; /* Это выровняет дочерние элементы по высоте */
}

.ecg-wrapper {
  margin-bottom: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}