.signal-info {
  position: relative;
  background: #F9F9F9;
  border-radius: 5px;
  border: 1px solid #007AFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
}

/* Шапка */
.signal-title-container {
  background-color: #E9EFF6;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #007AFF;
}

.signal-title {
  margin: 0;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 26px;
  color: #515974;
  text-align: center;
}

/* Основной блок */
.signal-info-body {
  padding: 20px;
  box-sizing: border-box;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}

/* Подзаголовки категорий */
.category-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 22px;
  color: #007AFF;
  font-weight: bold;
  margin: 0 0 5px;
}

.parameter-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.sub-label {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 22px;
  color: #515974;
  font-weight: normal;
  text-align: left;
  flex: 1; /* Занимает всё доступное пространство */
  margin-right: px; /* Уменьшенное расстояние между текстами */
}

.sub-value {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 21px;
  color: #007AFF;
  font-weight: bold;
  text-align: right;
  flex-shrink: 0; /* Устанавливает фиксированное положение значения */
}


/* Ссылка Подробнее */
.details-link {
  display: block;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 24px;
  color: #007AFF;
  text-align: right;
  margin-top: -10px;
  margin-bottom: -10px; /* Убираем нижний отступ */
  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
  color: #005BB5;
}
