.custom-modal .ant-modal-wrap {
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.custom-modal .ant-modal {
  /* Фиксируем ширину окна */
  width: 938px !important; /* Это не работает, ширину задаем в итоге в MainPage.jsx */
  margin: 0 auto; /* Убедимся, что окно будет выровнено по центру */
  border-radius: 10px;
  overflow: hidden;
  
}


.custom-modal .ant-modal-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  flex: 1; /* занимает всё оставшееся место под шапкой */
  margin-top: 70px; /* Смещаем кнопку чуть ниже */
}

