/* Внешний контейнер */
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* HEADER */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 40px;
  background-color: transparent;
  margin-bottom: -5px; /* добавляем минимальный отступ снизу */
  margin-top: 80px; /* добавляем минимальный отступ снизу */
}

.breadcrumb {
  font-family: 'Podkova', serif;
  font-size: 24px;
  color: #007AFF;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.breadcrumbLink:hover {
  color: #005fcc;
  text-decoration: underline;
}

.contactLink {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 20px;
  color: #515974;
}

.contactLink:hover {
  color: #005fcc;
  transition: color 0.3s ease;
  text-decoration-color: #ffffff;
  text-decoration: underline;
}

.breadcrumbArrow {
  margin: 0 8px;
  vertical-align: middle;
  color: #007AFF;
}
/* увеличим зазор между панелями */
.container {
  display: flex;
  flex: 1;
  gap: 3rem;               /* отступ между ВЭКГ и ЭКГ */
  /* padding: сверху | справа | снизу | слева */
  padding: 0.5rem 2rem 2rem 2rem; 
  box-sizing: border-box;
  min-height: 0;
}
/* сами панели */
.left-pane,
.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;        /* занимают всё доступное внутри container */
  min-height: 0;       /* позволяет внутреннему overflow:hidden работать */
  /* если нужно ещё дополнительный отступ снизу внутри панелей:
  padding-bottom: 1rem;
  */
}